interactions:
- request:
    body: trdDd=20210125&mktId=STK&inqCond=STMFRTSCIFDRFS&bld=dbms%2FMDC%2FSTAT%2Fsrt%2FMDCSTAT30101
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"ISU_CD\":\"095570\",\"ISU_ABBRV\":\"AJ\uB124\uD2B8\uC6CD\uC2A4\",\"SECUGRP_NM\":\"\uC8FC\uAD8C\",\"CVSRTSELL_TRDVOL\":\"32\",\"UPTICKRULE_APPL_TRDVOL\":\"0\",\"UPTICKRULE_EXCPT_TRDVOL\":\"32\",\"ACC_TRDVOL\":\"180,458\",\"TRDVOL_WT\":\"0.02\",\"CVSRTSELL_TRDVAL\":\"134,240\",\"UPTICKRULE_APPL_TRDVAL\":\"0\",\"UPTICKRULE_EXCPT_TRDVAL\":\"134,240\",\"ACC_TRDVAL\":\"757,272,515\",\"TRDVAL_WT\":\"0.02\"},{\"ISU_CD\":\"006840\",\"ISU_ABBRV\":\"AK\uD640\uB529\uC2A4\",\"SECUGRP_NM\":\"\uC8FC\uAD8C\",\"CVSRTSELL_TRDVOL\":\"79\",\"UPTICKRULE_APPL_TRDVOL\":\"0\",\"UPTICKRULE_EXCPT_TRDVOL\":\"79\",\"ACC_TRDVOL\":\"386,257\",\"TRDVOL_WT\":\"0.02\",\"CVSRTSELL_TRDVAL\":\"2,377,900\",\"UPTICKRULE_APPL_TRDVAL\":\"0\",\"UPTICKRULE_EXCPT_TRDVAL\":\"2,377,900\",\"ACC_TRDVAL\":\"11,554,067,000\",\"TRDVAL_WT\":\"0.02\"},{\"ISU_CD\":\"027410\",\"ISU_ABBRV\":\"BGF\",\"SECUGRP_NM\":\"\uC8FC\uAD8C\",\"CVS[...]
