interactions:
- request:
    body: trdDd=20200106&mktTpCd=2&bld=dbms%2FMDC%2FSTAT%2Fsrt%2FMDCSTAT30401
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"RANK\":\"1\",\"ISU_CD\":\"263750\",\"ISU_CD_FULL\":\"KR7263750002\",\"MKT_ID\":\"KSQ\",\"ISU_ABBRV\":\"\uD384\uC5B4\uBE44\uC2A4\",\"CVSRTSELL_TRDVAL\":\"3,121,442,100\",\"ACC_TRDVAL\":\"9,674,816,900\",\"TDD_SRTSELL_WT\":\"32.26\",\"TDD_SRTSELL_TRDVAL_INCDEC_RT\":\"1.59\",\"VALU_PD_AVG_SRTSELL_WT\":\"16.26\",\"VALU_PD_CMP_TDD_SRTSELL_RTO\":\"1.98\",\"PRC_YD\":\"-2.64\"},{\"RANK\":\"2\",\"ISU_CD\":\"085910\",\"ISU_CD_FULL\":\"KR7085910008\",\"MKT_ID\":\"KSQ\",\"ISU_ABBRV\":\"\uB124\uC624\uD2F0\uC2A4\",\"CVSRTSELL_TRDVAL\":\"27,751,935\",\"ACC_TRDVAL\":\"97,454,485\",\"TDD_SRTSELL_WT\":\"28.48\",\"TDD_SRTSELL_TRDVAL_INCDEC_RT\":\"12.37\",\"VALU_PD_AVG_SRTSELL_WT\":\"2.07\",\"VALU_PD_CMP_TDD_SRTSELL_RTO\":\"13.74\",\"PRC_YD\":\"1.03\"},{\"RANK\":\"3\",\"ISU_CD\":\"253450\",\"ISU_CD_FULL\":\"KR7253450001\",\"MKT_ID\":\"KSQ\",\"ISU_ABBRV\":\"\uC2A4\uD29C\[...]
