interactions:
- request:
    body: locale=ko_KR&mktsel=ALL&searchText=&typeNo=0&bld=dbms%2Fcomm%2Ffinder%2Ffinder_stkisu
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"block1\":[{\"full_code\":\"KR7060310000\",\"short_code\":\"060310\",\"codeName\":\"3S\",\"marketCode\":\"KSQ\",\"marketName\":\"\uCF54\uC2A4\uB2E5\",\"marketEngName\":\"KOSDAQ\",\"ord1\":\"\",\"ord2\":\"16\"},{\"full_code\":\"KR7095570008\",\"short_code\":\"095570\",\"codeName\":\"AJ\uB124\uD2B8\uC6CD\uC2A4\",\"marketCode\":\"STK\",\"marketName\":\"\uC720\uAC00\uC99D\uAD8C\",\"marketEngName\":\"KOSPI\",\"ord1\":\"\",\"ord2\":\"16\"},{\"full_code\":\"KR7006840003\",\"short_code\":\"006840\",\"codeName\":\"AK\uD640\uB529\uC2A4\",\"marketCode\":\"STK\",\"marketName\":\"\uC720\uAC00\uC99D\uAD8C\",\"marketEngName\":\"KOSPI\",\"ord1\":\"\",\"ord2\":\"16\"},{\"full_code\":\"KR7054620000\",\"short_co[...]
[...]
