interactions:
- request:
    body: trdDd=20200106&mktTpCd=1&bld=dbms%2FMDC%2FSTAT%2Fsrt%2FMDCSTAT30801
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"RANK\":\"1\",\"ISU_CD\":\"042670\",\"ISU_CD2\":\"KR7042670000\",\"MKT_ID\":\"STK\",\"ISU_ABBRV\":\"\uB450\uC0B0\uC778\uD504\uB77C\uCF54\uC5B4\",\"BAL_QTY\":\"20,516,960\",\"LIST_SHRS\":\"208,161,279\",\"BAL_AMT\":\"108,945,057,600\",\"MKTCAP\":\"1,105,336,391,490\",\"BAL_RTO\":\"9.86\"},{\"RANK\":\"2\",\"ISU_CD\":\"068270\",\"ISU_CD2\":\"KR7068270008\",\"MKT_ID\":\"STK\",\"ISU_ABBRV\":\"\uC140\uD2B8\uB9AC\uC628\",\"BAL_QTY\":\"12,076,213\",\"LIST_SHRS\":\"128,337,853\",\"BAL_AMT\":\"2,089,184,849,000\",\"MKTCAP\":\"22,202,448,569,000\",\"BAL_RTO\":\"9.41\"},{\"RANK\":\"3\",\"ISU_CD\":\"081660\",\"ISU_CD2\":\"KR7081660003\",\"MKT_ID\":\"STK\",\"ISU_ABBRV\":\"\uD720\uB77C\uCF54\uB9AC\uC544\",\"BAL_QTY\":\"5,375,805\",\"LIST_SHRS\":\"61,115,070\",\"BAL_AMT\":\"276,316,37[...]
