interactions:
- request:
    body: trdDd=20210104&mktId=KNX&inqCond=STMFRTSCIFDRFS&bld=dbms%2FMDC%2FSTAT%2Fsrt%2FMDCSTAT30101
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"ISU_CD\":\"112190\",\"ISU_ABBRV\":\"KC\uC0B0\uC5C5\",\"SECUGRP_NM\":\"\uC8FC\uAD8C\",\"CVSRTSELL_TRDVOL\":\"0\",\"UPTICKRULE_APPL_TRDVOL\":\"0\",\"UPTICKRULE_EXCPT_TRDVOL\":\"0\",\"ACC_TRDVOL\":\"1,240\",\"TRDVOL_WT\":\"0.00\",\"CVSRTSELL_TRDVAL\":\"0\",\"UPTICKRULE_APPL_TRDVAL\":\"0\",\"UPTICKRULE_EXCPT_TRDVAL\":\"0\",\"ACC_TRDVAL\":\"3,209,280\",\"TRDVAL_WT\":\"0.00\"},{\"ISU_CD\":\"224880\",\"ISU_ABBRV\":\"SGA\uD074\uB77C\uC6B0\uB4DC\uC11C\uBE44\uC2A4\",\"SECUGRP_NM\":\"\uC8FC\uAD8C\",\"CVSRTSELL_TRDVOL\":\"0\",\"UPTICKRULE_APPL_TRDVOL\":\"0\",\"UPTICKRULE_EXCPT_TRDVOL\":\"0\",\"ACC_TRDVOL\":\"0\",\"TRDVOL_WT\":\"0.00\",\"CVSRTSELL_TRDVAL\":\"0\",\"UPTICKRULE_APPL_TRDVAL\":\"0\",\"UPTICKRULE_EXCPT_TRDVAL\":\"0\",\"ACC_TRDVAL\":\"0\",\"TRDVAL_WT\":\"0.00\"},{\"ISU_CD\":\"183410\",\"ISU_ABBRV\":\"\uACE8\uD504\uC874\uB370\uCE74\",\"SECUGRP_NM\":\"\uC8F[...]
