interactions:
- request:
    body: trdDd=20200106&mktTpCd=2&bld=dbms%2FMDC%2FSTAT%2Fsrt%2FMDCSTAT30801
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"RANK\":\"1\",\"ISU_CD\":\"084990\",\"ISU_CD2\":\"KR7084990001\",\"MKT_ID\":\"KSQ\",\"ISU_ABBRV\":\"\uD5EC\uB9AD\uC2A4\uBBF8\uC2A4\",\"BAL_QTY\":\"2,629,185\",\"LIST_SHRS\":\"21,415,088\",\"BAL_AMT\":\"229,264,932,000\",\"MKTCAP\":\"1,867,395,673,600\",\"BAL_RTO\":\"12.28\"},{\"RANK\":\"2\",\"ISU_CD\":\"028300\",\"ISU_CD2\":\"KR7028300002\",\"MKT_ID\":\"KSQ\",\"ISU_ABBRV\":\"\uC5D0\uC774\uCE58\uC5D8\uBE44\",\"BAL_QTY\":\"4,987,093\",\"LIST_SHRS\":\"42,738,918\",\"BAL_AMT\":\"530,127,985,900\",\"MKTCAP\":\"4,543,146,983,400\",\"BAL_RTO\":\"11.67\"},{\"RANK\":\"3\",\"ISU_CD\":\"215600\",\"ISU_CD2\":\"KR7215600008\",\"MKT_ID\":\"KSQ\",\"ISU_ABBRV\":\"\uC2E0\uB77C\uC820\",\"BAL_QTY\":\"6,096,390\",\"LIST_SHRS\":\"71,052,125\",\"BAL_AMT\":\"78,643,431,000\",\"[...]
