interactions:
- request:
    body: trdDd=20200106&mktTpCd=1&bld=dbms%2FMDC%2FSTAT%2Fsrt%2FMDCSTAT30401
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"RANK\":\"1\",\"ISU_CD\":\"002790\",\"ISU_CD_FULL\":\"KR7002790004\",\"MKT_ID\":\"STK\",\"ISU_ABBRV\":\"\uC544\uBAA8\uB808G\",\"CVSRTSELL_TRDVAL\":\"2,415,719,900\",\"ACC_TRDVAL\":\"5,636,882,700\",\"TDD_SRTSELL_WT\":\"42.86\",\"TDD_SRTSELL_TRDVAL_INCDEC_RT\":\"0.90\",\"VALU_PD_AVG_SRTSELL_WT\":\"24.60\",\"VALU_PD_CMP_TDD_SRTSELL_RTO\":\"1.74\",\"PRC_YD\":\"-1.82\"},{\"RANK\":\"2\",\"ISU_CD\":\"002320\",\"ISU_CD_FULL\":\"KR7002320000\",\"MKT_ID\":\"STK\",\"ISU_ABBRV\":\"\uD55C\uC9C4\",\"CVSRTSELL_TRDVAL\":\"1,461,109,250\",\"ACC_TRDVAL\":\"3,773,082,750\",\"TDD_SRTSELL_WT\":\"38.73\",\"TDD_SRTSELL_TRDVAL_INCDEC_RT\":\"5.61\",\"VALU_PD_AVG_SRTSELL_WT\":\"8.31\",\"VALU_PD_CMP_TDD_SRTSELL_RTO\":\"4.66\",\"PRC_YD\":\"-2.85\"},{\"RANK\":\"3\",\"ISU_CD\":\"003520\",\"ISU_CD_FULL\":\"KR7003520004\",\"MKT_ID\":\"STK\",\"ISU_ABBRV\":\"\uC601\uC9C4\uC57D\u[...]
