.idea
*.pyc

# Archive / deprecated files
archive/

# Distribution / packaging
dist
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing / Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
ENV/
env/
