interactions:
- request:
    body: indIdx2=001&indIdx=1&strtDd=19800101&endDd=19811231&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT00301
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: '{"output":[{"TRD_DD":"1981/12/24","CLSPRC_IDX":"131.30","FLUC_TP_CD":"","PRV_DD_CMPR":"-","UPDN_RATE":"-","OPNPRC_IDX":"-","HGPRC_IDX":"-","LWPRC_IDX":"-","ACC_TRDVOL":"947,700","ACC_TRDVAL":"6,118,200,000","MKTCAP":"-"},{"TRD_DD":"1981/12/23","CLSPRC_IDX":"131.30","FLUC_TP_CD":"","PRV_DD_CMPR":"-","UPDN_RATE":"-","OPNPRC_IDX":"-","HGPRC_IDX":"-","LWPRC_IDX":"-","ACC_TRDVOL":"1,533,600","ACC_TRDVAL":"9,296,100,000","MKTCAP":"-"},{"TRD_DD":"1981/12/22","CLSPRC_IDX":"129.90","FLUC_TP_CD":"","PRV_DD_CMPR":"-","UPDN_RATE":"-","OPNPRC_IDX":"-","HGPRC_IDX":"-","LWPRC_IDX":"-","ACC_TRDVOL":"1,152,900","ACC_TRDVAL":"8,168,200,000","MKTCAP":"-"},{"TRD_DD":"1981/12/21","CLSPRC_IDX":"128.80","FLUC_TP_CD":"","PRV_DD_CM[...]
[...]
