interactions:
- request:
    body: indIdx2=001&indIdx=1&trdDd=20210129&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT00601
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"005930\",\"ISU_ABBRV\":\"\uC0BC\uC131\uC804\uC790\",\"TDD_CLSPRC\":\"82,000\",\"FLUC_TP_CD\":\"2\",\"STR_CMP_PRC\":\"-1,700\",\"FLUC_RT\":\"-2.03\",\"MKTCAP\":\"489,522,169,100,000\",\"IDX_ID\":\"\"},{\"ISU_SRT_CD\":\"000660\",\"ISU_ABBRV\":\"SK\uD558\uC774\uB2C9\uC2A4\",\"TDD_CLSPRC\":\"122,500\",\"FLUC_TP_CD\":\"2\",\"STR_CMP_PRC\":\"-500\",\"FLUC_RT\":\"-0.41\",\"MKTCAP\":\"89,180,289,712,500\",\"IDX_ID\":\"\"},{\"ISU_SRT_CD\":\"051910\",\"ISU_ABBRV\":\"LG\uD654\uD559\",\"TDD_CLSPRC\":\"917,000\",\"FLUC_TP_CD\":\"2\",\"STR_CMP_PRC\":\"-21,000\",\"FLUC_RT\":\"-2.24\",\"MKTCAP\":\"64,733,178,531,000\",\"IDX_ID\":\"\"},{\"ISU_SRT_CD\":\"035420\",\"ISU_ABBRV\":\"NAVER\",\"TDD_CLSPRC\":\[...]
[...]
