interactions:
- request:
    body: strtDd=20210115&endDd=20210122&mktId=KSQ&invstTpCd=8000&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT02401
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"236810\",\"ISU_NM\":\"\uC5D4\uBE44\uD2F0\",\"ASK_TRDVOL\":\"10,896,787\",\"BID_TRDVOL\":\"12,917,977\",\"NETBID_TRDVOL\":\"2,021,190\",\"ASK_TRDVAL\":\"441,165,915,800\",\"BID_TRDVAL\":\"529,418,663,600\",\"NETBID_TRDVAL\":\"88,252,747,800\"},{\"ISU_SRT_CD\":\"347860\",\"ISU_NM\":\"\uC54C\uCCB4\uB77C\",\"ASK_TRDVOL\":\"13,313,280\",\"BID_TRDVOL\":\"14,126,491\",\"NETBID_TRDVOL\":\"813,211\",\"ASK_TRDVAL\":\"498,152,570,750\",\"BID_TRDVAL\":\"524,842,304,250\",\"NETBID_TRDVAL\":\"26,689,733,500\"},{\"ISU_SRT_CD\":\"235980\",\"ISU_NM\":\"\uBA54\uB4DC\uD329\uD1A0\",\"ASK_TRDVOL\":\"4,013,688\",\"BID_TRDVOL\":\"4,234,321\",\"NETBID_TRDVOL\":\"220,633\",\"ASK_TRDVAL\":\"351,960,930,900\",\"BID_TRDVAL\":\"372,072,449,30[...]
