interactions:
- request:
    body: mktId=ALL&strtDd=20200101&endDd=20200430&isuCd=KR7005930003&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT03502
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: '{"output":[{"TRD_DD":"2020/04/29","TDD_CLSPRC":"50,000","FLUC_TP_CD":"2","CMPPREVDD_PRC":"-100","FLUC_RT":"-0.20","EPS":"6,461","PER":"7.74","FWD_EPS":"-","FWD_PER":"-","BPS":"35,342","PBR":"1.41","DPS":"1,416","DVD_YLD":"2.83"},{"TRD_DD":"2020/04/28","TDD_CLSPRC":"50,100","FLUC_TP_CD":"1","CMPPREVDD_PRC":"250","FLUC_RT":"0.50","EPS":"6,461","PER":"7.75","FWD_EPS":"-","FWD_PER":"-","BPS":"35,342","PBR":"1.42","DPS":"1,416","DVD_YLD":"2.83"},{"TRD_DD":"2020/04/27","TDD_CLSPRC":"49,850","FLUC_TP_CD":"1","CMPPREVDD_PRC":"500","FLUC_RT":"1.01","EPS":"6,461","PER":"7.72","FWD_EPS":"-","FWD_PER":"-","BPS":"35,342","PBR":"1.41","DPS":"1,416","DVD_YLD":"2.84"},{"TRD_DD":"2020/04/24","TDD_CLSPRC":"49,350","FLUC_TP_CD":"2[...]
