interactions:
- request:
    body: mktId=STK&trdDd=20210122&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT01501
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"ISU_SRT_CD\":\"095570\",\"ISU_CD\":\"KR7095570008\",\"ISU_ABBRV\":\"AJ\uB124\uD2B8\uC6CD\uC2A4\",\"MKT_NM\":\"KOSPI\",\"SECT_TP_NM\":\"\",\"TDD_CLSPRC\":\"4,210\",\"FLUC_TP_CD\":\"1\",\"CMPPREVDD_PRC\":\"35\",\"FLUC_RT\":\"0.84\",\"TDD_OPNPRC\":\"4,190\",\"TDD_HGPRC\":\"4,245\",\"TDD_LWPRC\":\"4,160\",\"ACC_TRDVOL\":\"216,835\",\"ACC_TRDVAL\":\"910,274,405\",\"MKTCAP\":\"197,121,861,950\",\"LIST_SHRS\":\"46,822,295\",\"MKT_ID\":\"STK\"},{\"ISU_SRT_CD\":\"006840\",\"ISU_CD\":\"KR7006840003\",\"ISU_ABBRV\":\"AK\uD640\uB529\uC2A4\",\"MKT_NM\":\"KOSPI\",\"SECT_TP_NM\":\"\",\"TDD_CLSPRC\":\"29,100\",\"FLUC_TP_CD\":\"1\",\"CMPPREVDD_PRC\":\"3,250\",\"FLUC_RT\":\"12.57\",\"TDD_OPNPRC\":\"25,750\",\"TDD_HGPRC\":\"29,550\",\"TDD_LWPRC\":\"25,600\",\"ACC_TRDVOL\":\"727,088\",\"ACC_TRDVAL\":\"20,462,325,950\",\"MKTCAP\":\"385,504,025,100\",\"LIST_SHRS\":\"13,247,561\",\"MKT_ID\":\"STK\"},{\"ISU_SRT_CD\":\"027410\",\"ISU_CD\":\"KR[...]
