interactions:
- request:
    body: mktId=ALL&strtDd=20200101&endDd=20200430&isuCd=KR7263720005&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT03502
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: '{"output":[{"TRD_DD":"2020/04/29","TDD_CLSPRC":"23,000","FLUC_TP_CD":"1","CMPPREVDD_PRC":"850","FLUC_RT":"3.84","EPS":"410","PER":"56.10","FWD_EPS":"-","FWD_PER":"-","BPS":"3,033","PBR":"7.58","DPS":"0","DVD_YLD":"0.00"},{"TRD_DD":"2020/04/28","TDD_CLSPRC":"22,150","FLUC_TP_CD":"2","CMPPREVDD_PRC":"-500","FLUC_RT":"-2.21","EPS":"410","PER":"54.02","FWD_EPS":"-","FWD_PER":"-","BPS":"3,033","PBR":"7.30","DPS":"0","DVD_YLD":"0.00"},{"TRD_DD":"2020/04/27","TDD_CLSPRC":"22,650","FLUC_TP_CD":"2","CMPPREVDD_PRC":"-100","FLUC_RT":"-0.44","EPS":"410","PER":"55.24","FWD_EPS":"-","FWD_PER":"-","BPS":"3,033","PBR":"7.47","DPS":"0","DVD_YLD":"0.00"},{"TRD_DD":"2020/04/24","TDD_CLSPRC":"22,750","FLUC_TP_CD":"2","CMPPR[...]
