interactions:
- request:
    body: mktId=ALL&trdDd=20210104&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT01501
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"ISU_SRT_CD\":\"060310\",\"ISU_CD\":\"KR7060310000\",\"ISU_ABBRV\":\"3S\",\"MKT_NM\":\"KOSDAQ\",\"SECT_TP_NM\":\"\uC911\uACAC\uAE30\uC5C5\uBD80\",\"TDD_CLSPRC\":\"2,260\",\"FLUC_TP_CD\":\"1\",\"CMPPREVDD_PRC\":\"95\",\"FLUC_RT\":\"4.39\",\"TDD_OPNPRC\":\"2,185\",\"TDD_HGPRC\":\"2,320\",\"TDD_LWPRC\":\"2,135\",\"ACC_TRDVOL\":\"588,133\",\"ACC_TRDVAL\":\"1,306,838,265\",\"MKTCAP\":\"101,253,674,860\",\"LIST_SHRS\":\"44,802,511\",\"MKT_ID\":\"KSQ\"},{\"ISU_SRT_CD\":\"095570\",\"ISU_CD\":\"KR7095570008\",\"ISU_ABBRV\":\"AJ\uB124\uD2B8\uC6CD\uC2A4\",\"MKT_NM\":\"KOSPI\",\"SECT_TP_NM\":\"\",\"TDD_CLSPRC\":\"4,580\",\"FLUC_TP_CD\":\"2\",\"CMPPREVDD_PRC\":\"-35\",\"FLUC_RT\":\"-0.76\",\"TDD_OPNPRC\":\"4,615\",\"TDD_HGPRC\":\"4,650\",\"TDD_LWPRC\":\"4,530\",\"ACC_TRDVOL\":\"344,232\",\"ACC_TRDVAL\":\"1,575,110,755\",\"MKTCAP\":\"214,446,111,100\",\"LIST_SHRS\":\"46,822,295\",\"MKT_ID\":\"STK\"},{\"ISU_SRT_CD\":\"006840\",\"ISU_CD\":\"KR7[...]
