interactions:
- request:
    body: strtDd=20210115&endDd=20210122&mktId=STK&invstTpCd=1000&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT02401
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"034730\",\"ISU_NM\":\"SK\",\"ASK_TRDVOL\":\"456,805\",\"BID_TRDVOL\":\"585,912\",\"NETBID_TRDVOL\":\"129,107\",\"ASK_TRDVAL\":\"146,275,554,500\",\"BID_TRDVAL\":\"188,418,240,500\",\"NETBID_TRDVAL\":\"42,142,686,000\"},{\"ISU_SRT_CD\":\"035420\",\"ISU_NM\":\"NAVER\",\"ASK_TRDVOL\":\"1,084,406\",\"BID_TRDVOL\":\"1,204,178\",\"NETBID_TRDVOL\":\"119,772\",\"ASK_TRDVAL\":\"343,524,584,000\",\"BID_TRDVAL\":\"383,697,248,000\",\"NETBID_TRDVAL\":\"40,172,664,000\"},{\"ISU_SRT_CD\":\"000660\",\"ISU_NM\":\"SK\uD558\uC774\uB2C9\uC2A4\",\"ASK_TRDVOL\":\"3,146,942\",\"BID_TRDVOL\":\"3,401,946\",\"NETBID_TRDVOL\":\"255,004\",\"ASK_TRDVAL\":\"409,523,728,500\",\"BID_TRDVAL\":\"443,014,951,000\",\"NETBID_[...]
