interactions:
- request:
    body: trdDd=20210321&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT04301
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"152100\",\"ISU_CD\":\"KR7152100004\",\"SECUGRP_ID\":\"EF\",\"ISU_ABBRV\":\"ARIRANG
        200\",\"TDD_CLSPRC\":\"-\",\"CMPPREVDD_PRC\":\"-\",\"FLUC_TP_CD\":\"0\",\"FLUC_RT\":\"-\",\"NAV\":\"-\",\"TDD_OPNPRC\":\"-\",\"TDD_HGPRC\":\"-\",\"TDD_LWPRC\":\"-\",\"ACC_TRDVOL\":\"-\",\"ACC_TRDVAL\":\"-\",\"MKTCAP\":\"-\",\"INVSTASST_NETASST_TOTAMT\":\"-\",\"LIST_SHRS\":\"18,450,000\",\"IDX_IND_NM\":\"\uCF54\uC2A4\uD53C
        200\",\"OBJ_STKPRC_IDX\":\"-\",\"CMPPREVDD_IDX\":\"-\",\"FLUC_TP_CD1\":\"0\",\"FLUC_RT1\":\"-\"},{\"ISU_SRT_CD\":\"295820\",\"ISU_CD\":\"KR7295820005\",\"SECUGRP_ID\":\"EF\",\"ISU_ABBRV\":\"ARIRANG
        200\uB3D9\uC77C\uAC00\uC911\",\"TDD_CLSPRC\":\"-\",\"CMPPREVDD_PRC\":\"-\",\"FLUC_TP_CD\":\"0\",\"FLUC_RT\":\"-\",\"NAV\":\"-\",\"TDD_OPNPRC\":\"-\",\"TDD_HGPRC\":\"-\",\"TDD_LWPRC\":\"-\",\"ACC_TRDVOL\":\"-\",\"ACC_TRDVAL\":\"-\",\"MKTCAP\":\"-\",\"INVSTASST_NETASST_TOTAMT\":\"-\",\"LIST_SHRS\":\"400,000\",\"IDX_IND_NM\":\"\uCF54\uC2A4\uD53C
        200 \uB3D9\uC77C\uAC00\uC911\uC[...]
