interactions:
- request:
    body: trdDd=20210402&isuCd=KR7152100004&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT05001
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"COMPST_ISU_CD\":\"005930\",\"COMPST_ISU_CD2\":\"KR7005930003\",\"MKT_ID\":\"STK\",\"SECUGRP_ID\":\"ST\",\"COMPST_ISU_NM\":\"\uC0BC\uC131\uC804\uC790\",\"COMPST_ISU_CU1_SHRS\":\"8,140.00\",\"VALU_AMT\":\"674,806,000\",\"COMPST_AMT\":\"690,272,000\",\"COMPST_RTO\":\"31.74\"},{\"COMPST_ISU_CD\":\"000660\",\"COMPST_ISU_CD2\":\"KR7000660001\",\"MKT_ID\":\"STK\",\"SECUGRP_ID\":\"ST\",\"COMPST_ISU_NM\":\"SK\uD558\uC774\uB2C9\uC2A4\",\"COMPST_ISU_CU1_SHRS\":\"968.00\",\"VALU_AMT\":\"136,004,000\",\"COMPST_AMT\":\"136,488,000\",\"COMPST_RTO\":\"6.28\"},{\"COMPST_ISU_CD\":\"035420\",\"COMPST_ISU_CD2\":\"KR7035420009\",\"MKT_ID\":\"STK\",\"SECUGRP_ID\":\"ST\",\"COMPST_ISU_NM\":\"NAVER\",\"COMPST_ISU_CU1_SHRS\":\"218.00\",\"VALU_AMT\":\"82,513,000\",\"COMPST_AMT\":[...]
