interactions:
- request:
    body: bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT04601
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_CD\":\"KR7495710006\",\"ISU_SRT_CD\":\"495710\",\"ISU_NM\":\"BNK
        BNK 26-06 \uD2B9\uC218\uCC44(AAA\uC774\uC0C1)\uC561\uD2F0\uBE0C\uC99D\uAD8C\uC0C1\uC7A5\uC9C0\uC218\uD22C\uC790\uC2E0\uD0C1(\uCC44\uAD8C)\",\"ISU_ABBRV\":\"BNK
        26-06 \uD2B9\uC218\uCC44(AAA\uC774\uC0C1)\uC561\uD2F0\uBE0C\",\"ISU_ENG_NM\":\"BNK
        BNK 26-06 Public Finance Bond(AAA or higher) Active ETF\",\"LIST_DD\":\"2024/12/03\",\"ETF_OBJ_IDX_NM\":\"KAP
        26-06 \uD2B9\uC218\uCC44 \uCD1D\uC218\uC775 \uC9C0\uC218(AAA\uC774\uC0C1)\",\"IDX_CALC_INST_NM1\":\"\uD55C\uAD6D\uC790\uC0B0\uD3C9\uAC00(KAP)\",\"IDX_CALC_INST_NM2\":\"\uC77C\uBC18\",\"ETF_REPLICA_METHD_TP_CD\":\"\uC2E4\uBB3C(\uC561\uD2F0\uBE0C)\",\"IDX_MKT_CLSS_NM\":\"\uAD6D\uB0B4\",\"IDX_ASST_CLSS_NM\":\"\uCC44\uAD8C\",\"LIST_SHRS\":\"2,106,000\",\"COM_ABBRV\":\"\uBE44\uC5D4\uCF00\uC774\uC790\uC0B0\uC6B4\uC6A9\",\"CU_QTY\":\"2,000\",\"ETF_TOT_FEE\":\"0.100000\",\"TAX_TP_CD\":\"\uBC30\uB2F9\uC18C\uB4DD\uC138(\uBCF4\uC720\uAE30\uAC04\uACFC\uC138)\"},{\"ISU_CD\":\"KR7466810009\",\"ISU_SRT_CD\":\"466810\",\"ISU_NM\":\"BNK
        BNK 2\uCC28\uC804\uC9C0\uC591\uADF9\uC7AC\uC99D\uAD8C\uC0C1\uC7A5\uC9C0\uC218\uD22C\uC790\uC2E0\uD0C1(\uC8FC\uC2DD)\",\"ISU_ABBRV\":\"BNK
        2\uCC28\uC804\uC9C0\uC591\uADF9\uC7AC\",\"ISU_ENG_NM\":\"BNK BNK Secondary
        Battery Cathode Materials ETF\",\"LIST_DD\":\"2023/10/19\",\"ETF_OBJ_IDX_NM\":\"iSelect
        2\uCC28\uC804\uC9C0\u[...]
- request:
    body: bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT06701
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_CD\":\"KRG580000740\",\"ISU_SRT_CD\":\"580074\",\"ISU_NM\":\"KB\uC99D\uAD8C
        KB BYD \uBC38\uB958\uCCB4\uC778 \uC0C1\uC7A5\uC9C0\uC218\uC99D\uAD8C \uC81C74\uD638\",\"ISU_ABBRV\":\"KB
        BYD \uBC38\uB958\uCCB4\uC778 ETN\",\"ISU_ENG_NM\":\"KB Securities KB BYD Value
        Chain ETN 74\",\"ISU_ENG_ABBRV\":\"KB BYD Value Chain ETN\",\"LIST_DD\":\"2025/12/01\",\"LSTTRD_DD\":\"2035/11/21\",\"TRACE_IDX_NM\":\"Indxx
        China Smart Mobility Value Chain NTR Index\",\"IDX_CALC_INST_NM\":\"Indxx\",\"IDX_LVRG_INVRS_TP_CD\":\"\uC77C\uBC18\",\"ETP_PROD_TP_CD\":\"ETN\",\"IDX_MKT_CLSS_NM\":\"\uD574\uC678\",\"IDX_ASST_CLSS_NM\":\"\uC8FC\uC2DD\",\"LIST_SHRS\":\"2,000,000\",\"ISUR_NM\":\"KB\uC99D\uAD8C\",\"EXPS_RTO\":\"0.000\",\"TAX_TP_CD\":\"\uBC30\uB2F9\uC18C\uB4DD\uC138(\uBCF4\uC720\uAE30\uAC04\uACFC\uC138)\"},{\"ISU_CD\":\"KRG580000583\",\"ISU_SRT_CD\":\"580058\",\"ISU_NM\":\"KB\uC99D\uAD8C
        KB KIS CD\uAE08\uB9AC\uD22C\uC790 \uC0C1\uC7A5\uC9C0\uC218\uC99D\uAD8C \uC81C58\uD638\",\"ISU_ABBRV\":\"KB
        KIS CD\uAE08\uB9AC\uD22C\uC790 ETN\",\"ISU_ENG_NM\":\"KB Securities KB KIS
        CD ETN 58\",\"ISU_ENG_ABBRV\":\"KB KIS CD ETN\",\"LIST_DD\":\"2024/03/20\",\"LSTTRD_DD\":\"2034/03/16\",\"TRACE_I[...]
